.incircle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 25px;
}

.outcircle {
  fill: none;
  stroke: #000;
  stroke-width: 10;
  shape-rendering: geometricPrecision;
}

.timetext {
  fill: #000;
  font-size: 80px;
  font-weight: bold;
  user-select: none;
  dominant-baseline: middle;
  font-family: sans-serif;
}

.mode-text.work {
  font-size: 30px;
  font-weight: bold;
  color: rgb(200, 84, 84);
}

.mode-text.rest {
  font-size: 30px;
  font-weight: bold;
  color: rgb(112, 112, 241);
}

.cycle-box {
  color: #ffd000;
  font-size: 20px;
  font-weight: 500;
}

.circle {
  transform: rotate(0deg);
}

/* 다크모드 스타일 */
.dark-mode .outcircle {
  stroke: white;
}

.dark-mode .timetext {
  fill: white;
}
