.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "GangwonEduPower", sans-serif;
}

.header-left {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.mode-toggle {
  font-size: 25px;
  cursor: pointer;
  margin: 0;
}
